li {
  display: block;
}

.content {
  margin: 6em 0;
}

.content-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-item {
  margin: 1.5em;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 9000;
  height: 6em;
  min-width: 100%;
  display: flex;
}

.footer-items {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item {
  margin: 0 1rem;
}

@media (min-width: 1056px) {
  .footer,
  .header {
    padding: 0% 25%;
  }

  .sidenav {
    display: none;
  }

  .content {
    min-width: auto;
    margin-left: 25%;
    margin-right: 25%;
  }
}
